gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Las claves de firma permanecen privadas.
# Referencia: https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
